<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewAppendSelectionClippingDestinationGroupID</key>
	<integer>37</integer>
	<key>QRPanelSettings</key>
	<dict>
		<key>142</key>
		<dict>
			<key>BinderID</key>
			<integer>142</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>482 268 475 522 0 0 1440 878 </string>
		</dict>
		<key>144</key>
		<dict>
			<key>BinderID</key>
			<integer>144</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>503 140 839 627 0 0 1440 878 </string>
		</dict>
		<key>153</key>
		<dict>
			<key>BinderID</key>
			<integer>153</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>545 199 475 522 0 0 1440 878 </string>
		</dict>
		<key>156</key>
		<dict>
			<key>BinderID</key>
			<integer>156</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>566 176 475 522 0 0 1440 878 </string>
		</dict>
		<key>157</key>
		<dict>
			<key>BinderID</key>
			<integer>157</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>587 153 475 522 0 0 1440 878 </string>
		</dict>
		<key>158</key>
		<dict>
			<key>BinderID</key>
			<integer>158</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>608 130 475 522 0 0 1440 878 </string>
		</dict>
		<key>164</key>
		<dict>
			<key>BinderID</key>
			<integer>164</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>713 15 475 522 0 0 1440 878 </string>
		</dict>
		<key>166</key>
		<dict>
			<key>BinderID</key>
			<integer>166</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>650 84 475 522 0 0 1440 878 </string>
		</dict>
		<key>184</key>
		<dict>
			<key>BinderID</key>
			<integer>184</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>524 222 475 522 0 0 1440 878 </string>
		</dict>
		<key>188</key>
		<dict>
			<key>BinderID</key>
			<integer>188</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>671 61 475 522 0 0 1440 878 </string>
		</dict>
		<key>192</key>
		<dict>
			<key>BinderID</key>
			<integer>192</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>629 107 475 522 0 0 1440 878 </string>
		</dict>
		<key>193</key>
		<dict>
			<key>BinderID</key>
			<integer>193</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MediaSettings</key>
			<dict>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>WindowFrame</key>
			<string>692 38 475 522 0 0 1440 878 </string>
		</dict>
		<key>59</key>
		<dict>
			<key>BinderID</key>
			<integer>59</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>482 268 475 522 0 0 1440 878 </string>
		</dict>
		<key>6</key>
		<dict>
			<key>BinderID</key>
			<integer>6</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 272}, {473, 164}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>482 270 475 519 0 0 1440 878 </string>
		</dict>
		<key>71</key>
		<dict>
			<key>BinderID</key>
			<integer>71</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>503 245 475 522 0 0 1440 878 </string>
		</dict>
		<key>72</key>
		<dict>
			<key>BinderID</key>
			<integer>72</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>482 268 475 522 0 0 1440 878 </string>
		</dict>
		<key>73</key>
		<dict>
			<key>BinderID</key>
			<integer>73</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>524 222 475 522 0 0 1440 878 </string>
		</dict>
	</dict>
	<key>RecentAppends</key>
	<array>
		<integer>52</integer>
	</array>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>70</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {282, 766}}</string>
		<string>{{283, 0}, {1013, 766}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>101</integer>
		<integer>105</integer>
		<integer>108</integer>
		<integer>118</integer>
		<integer>122</integer>
		<integer>123</integer>
		<integer>135</integer>
		<integer>124</integer>
		<integer>134</integer>
		<integer>136</integer>
		<integer>77</integer>
		<integer>20</integer>
		<integer>76</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>binderWidth</key>
	<real>191</real>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>2</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {191, 101}}</string>
		<string>{{0, 102}, {191, 641}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1104, 365}}</string>
		<string>{{0, 375}, {1104, 365}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>-1</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>200</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<integer>150</integer>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>88</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>83</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>84</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>86</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>146</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>151</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>150</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>149</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>212</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>15</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>17</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>42</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>67</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>74</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>75</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>66</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>89</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>91</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>90</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>211</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>101</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>12</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>210</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>26</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>4</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>205</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>26</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>101</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>103</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>104</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>105</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>106</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>107</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>108</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>109</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>110</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>111</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>118</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>119</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>120</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>121</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>123</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>135</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>101</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>103</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>123</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>83</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>88</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>83</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>84</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>86</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>146</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>151</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>150</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>148</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>147</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>149</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>147</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{156, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>124</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>135</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{8426, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>123</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>146</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>151</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>150</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>148</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>147</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>149</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>141</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>149</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>148</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>150</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>133</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>113</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>316</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerState</key>
	<array>
		<integer>78</integer>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {798.40002, 555.20001}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{221, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>84 87 1296 788 0 0 1440 878 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
			<string>LABEL</string>
			<string>STATUS</string>
		</array>
		<key>widths</key>
		<dict>
			<key>LABEL</key>
			<real>47</real>
			<key>STATUS</key>
			<real>102.66162109375</real>
			<key>TITLE</key>
			<real>120</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>0</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>54</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 304}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
